/* Universal selector
* {
	margin: 0;
	padding: 0;
	color: red;
}
*/

/* Type selectors */
body {
	color: #878787;	
	margin: 0;
}

h1 {
	color: white;
	font-size: 90px;
}

h2 {
	font-size: 53px;	
}

h3 {
	font-size: 20px;
	color: #48525C;
}

/* Class selectors */
.main-header {
	background-color: orange;
}

.primary-content {
	text-align: center;
}

.t-border {
	border-top: 2px solid lightgrey;	
}

.title { 
	color: white;
	font-size: 26px;
}

/* Id selectors */
#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px orange;
}

/* Pseudo clases selectors */
a:link {
	color: orange;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: forestgreen;
}

a:active {
	color: lightcoral;
}

a:focus {
	color: white;
	background-color: orange;
}